@model IEnumerable<SAcademy.Models.Header>

@{
    Layout = "_LayoutDashboard";

}


<p>
    <a asp-action="Create">O</a>
</p>

@foreach (var item in Model)
{

    <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal"
    data-target="@("#EditHeader-"+item.Id)" data-url="@Url.Action($"Edit/{item.Id}")">
        <img src="~/img/edit.png">
    </button>
    @await Html.PartialAsync("_EditHeaderPartialView",item)

    var height = string.Concat(item.HeightSection, "em");
    var Top = string.Concat(item.BVTopSize, "%");
    var left = string.Concat(item.BVLeftSize, "%");
    var size = string.Concat(item.BVSize, "px");
    if (item.Background != null)
    {
        <div class="bg-cover"
    style="background-image:url(data:image/*;base64,@Convert.ToBase64String(item.Background)); height:@height;">
            @Html.Raw(item.Content)
            <div class="position-relative content" style="top:@Top; left:@left;">
                <a class="btn font-weight-bold pl-4 pr-4" href="#"
            style="color:@item.BVColor; font-size:@size; background:@item.ButtonBgColor; border-radius:50px;">@item.Button</a>
                @if (item.Video != null)
                {
                    <a class="" href="@item.Video" style="background:@item.ButtonBgColor; border-radius:100%;"><img
                src="~/img/play.png"></a>
                }
            </div>
        </div>
    }
    else
    {
        <div class="bg-cover" style="background:url('img/hero1.jpg'); height:@height;">
            @Html.Raw(item.Content)
            <div class="position-relative content" style="top:@Top; left:@left;">
                <a class="btn font-weight-bold pl-4 pr-4" href="#"
            style="color:@item.BVColor; font-size:@size; background:@item.ButtonBgColor; border-radius:50px;">@item.Button</a>
                @if (item.Video != null)
                {
                    <a class="" href="@item.Video" style="background:@item.ButtonBgColor; border-radius:100%;"><img
                src="~/img/play.png"></a>
                }
            </div>
        </div>
    }
}
