@model List<SAcademy.Models.Section>

<div class="pt-3 pb-2" id="apropos">


    @foreach (var item in Model)
    {
        if (item.Visible == true)
        {
            var size = string.Concat(item.TitleSize, "vw");
            <p class="text-center Titles"
        style="color:@item.TitleColor; font-size:@size; font-weight:bold; font-family:@item.FontFamily;">@item.Title</p>
            <div class="d-flex justify-content-between aboutSplit">
                @if (item.Video == null && item.image == null)
                {
                    <div class="m-auto" data-aos="fade-up">
                        @Html.Raw(item.Content)
                    </div>
                }
                else if (item.Video == null)
                {
                    <div class="d-flex flex-column" data-aos="fade-up-left">
                        @Html.Raw(item.Content)
                    </div>
                    <div data-aos="fade-up-right">
                        <img class="aboutImg pl-4" width="@item.VideoWidth" height="@item.VideoHeight"
                src="data:image/*;base64,@(Convert.ToBase64String(item.image))" />
                    </div>
                }
                else
                {
                    <div class="pl-4" data-aos="fade-up-left">
                        @Html.Raw(item.Content)
                    </div>
                    <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                        <iframe class="aboutvideo" width="@item.VideoWidth" height="@item.VideoHeight" src="@item.Video?rel=0&enablejsapi=1"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
                    </div>
                }


            </div>
        }

    }
</div>
