@model List<SAcademy.Models.Contact>

<script src="https://smtpjs.com/v3/smtp.js"></script>
    <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
    <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>

<div id="contact" class="contact p-3">
@foreach (var item in Model)
{
        if(item.Visible == true)
        {
            var size = string.Concat(item.TitleSize, "vw");
            var mapwidth = string.Concat(item.MapWidth, "%");
            var mapHeight = string.Concat(item.MapHeight, "%");

            <p class="text-center Titles pt-4 pb-2" style="color:@item.TitleColor; font-size:@size; font-weight:bold; font-family:@item.FontFamily;">@item.Title</p>
            <p>@Html.Raw(item.Content)</p>
            <br />
            <div class="row">
                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address d-flex">
                            <div>
                                <img style="width: 23px;" src="~/img/location.png" alt="">
                            </div>
                            <div>
                                <h4 style="color:@item.LocalColor;">Localisation :</h4>
                                <a class="text-decoration-none text-dark" href="https://goo.gl/maps/rTuLwJPL42xfjJ3HA"
                           target="_blank">@item.Localisation</a>
                            </div>
                        </div><br>

                        <div class="email d-flex">
                            <div>
                                <img style="width: 23px;" src="~/img/email.png" alt="">
                            </div>
                            <div>
                                <h4 style="color:@item.EmailColor;">Email :</h4>
                                <a class="text-decoration-none text-dark" href="mailto:@item.Email" title="Envoyer un message">@item.Email</a>
                            </div>
                        </div><br>

                        <div class="phone d-flex">
                            <div>
                                <img style="width: 23px;" src="~/img/phone.png" alt="">
                            </div>
                            <div>
                                <h4 style="color:@item.CallColor;">Phone :</h4>
                                <a class="text-decoration-none text-dark" href="tel:@item.Call">@item.Call</a>
                            </div>
                        </div><br><br>
                        <iframe class="maps" src="@item.Maps" width="@mapwidth" height="@mapHeight" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                
                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" >
                    <form asp-action="Mail" asp-controller="Contacts" class="php-email-form" id="ctnAlert" onsubmit="return submitForm(this);">
                         <div class="pb-2">
                            <p>Planifiez une rencontre gratuite d'une heure avec un expert, pour obtenir :</p>
                            <ul class="">
                                <li>Une démonstration sur mesure</li>
                                <li>Recommandations en fonction de vos besoins</li>
                                <li>Réponses à vos questions concernant la formation</li>
                                <li>Informations sur la tarification et la méthodologie</li>
                            </ul>
                            <div class="">
                                <script>
                                    (function () {
                                        var target = document.currentScript;
                                        window.addEventListener('load', function () {
                                            calendar.schedulingButton.load({
                                                url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ1Vbh_Kgs8K1whZFFwYbniz0ClxxCX1osHUkAL_KOiGBNaKCwX25Lckjnylm5eB44w1w8V14eEp?gv=true',
                                                color: '#ce0033',
                                                label: 'Réserver un rendez-vous',
                                                target,
                                            });
                                        });
                                    })();
                                </script>
                            </div>
                        </div> 
                        <div class="row">
                             <div class="form-group col-md-6">
                                <label for="name">Nom</label>
                                <input type="text" name="Name" class="form-control" id="name" autocomplete="off" required>
                            </div> 
                            <div class="form-group col-md-6">
                                <label for="name">Prénom</label>
                                <input  class="form-control" name="From" id="email" autocomplete="off" required> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input type="email" class="form-control" name="Subject" id="subject" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control textereasize" name="Body" id="message" rows="10" required></textarea>
                        </div>
                        <div class=""><button id="btnemail" type="submit" class="btn text-light font-weight-bold" style="border-radius:5px; background:@item.ButtonBgColor;">Envoyer</button></div>
                        
                    </form>
                </div>
            </div>
        }
        
}
</div>
@*<script src="sweetalert2.all.min.js"></script>*@


<script defer>

    @* console.log('hello1');

       var btnEmail = document.getElementById('btnemail');
       btnEmail.addEventListener('click', function (e) {
            e.preventDefault();
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;
            var subject = document.getElementById('subject').value;
            var message = document.getElementById('message').value;
            var body = 'name: '+ name +  '< br /> email: '+ email + '<br/> subject' +
            subject + '<br/> message' + message;
            console.log('hello2');
            
            debugger;

            Email.send({
            Host : "smtp.gmail.com",
            Username : "simplonacademy3@gmail.com",
            Password: "vcyjwgcdmcxbwvxm",
            To: 'simplonacademy3@gmail.com',
            From : email,
            Subject : subject,
            Body : body
            }).then(
                message => alert(message);
                console.log('hello3');

            );
       }); *@
</script>


