@model IEnumerable<SAcademy.Models.Footer>

@{
    Layout = "_LayoutDashboard";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">O</a>
</p>

@foreach (var item in Model) {
    if (item.Visible == true)
    {
        <form id="online" style="display:inline;" asp-action="isVisible">
            <input type="hidden" name="Id" value="@item.Id" />
            <input type="hidden" name="visible" value="false" />
            <button type="submit" class="btn online p-1"><img style="width:25px;" src="~/img/visible.png" /></button>
            <label>visible</label>
        </form>
    }
    else
    {
        <form id="online" style="display:inline;" asp-action="isVisible">
            <input type="hidden" name="Id" value="@item.Id" />
            <input type="hidden" name="visible" value="true" />
            <button type="submit" class="btn online p-1"><img style="width:25px;" src="~/img/invisible.png" /></button>
            <label>InVisible</label>
        </form>
    }
    <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal" data-target="@("#EditFooter-"+item.Id)" data-url="@Url.Action($"Edit/{item.Id}")">
        <img src="~/img/edit.png">
    </button>
    @await Html.PartialAsync("_EditFooterPartialView",item)

    <footer class="p-4" style="background:@item.Background;">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                @if(item.Logo != null)
                {
                    <img class="pb-3" src="data:image/*;base64,@(Convert.ToBase64String(item.Logo))" style="width:45%;" />
                }
                else
                {
                    <img class="pb-3" src="~/img/logoFooter.png" style="width:45%;" />
                }
                <div>
                    @Html.Raw(item.ContentInfos)
                </div>
            </div>
            <div class="pt-2">
                @await Component.InvokeAsync("NavFooter")
            </div>
            <div class="">
                @Html.Raw(item.ContentNews)<br>
                <article class="">
                    <input type="email" placeholder="Votre adresse Email">
                    <button class="border-0 rounded">S'inscrire</button>
                </article>
            </div>
        </div>
        <hr>
        <div class="text-white font-weight-bold">
            &copy; @Html.Raw(item.ContentCopyRight)
        </div>
    </footer>
  
}
