@model IEnumerable<SAcademy.Models.About>

@{
    Layout = "_LayoutDashboard";

}


@*<p>
    <a asp-action="Create">O</a>
</p>*@


<div class="w-75 m-auto">
    @foreach (var item in Model) {
        if(item.Visible == true)
        {
            <form id="online" style="display:inline;" asp-action="isVisible">
            <input type="hidden" name="Id" value="@item.Id" />
            <input type="hidden" name="visible" value="false" />
            <button type="submit" class="btn online p-1"><img style="width:25px;" src="~/img/visible.png" /></button>
            <label>visible</label>
            </form>
        }else
        {
             <form id="online" style="display:inline;" asp-action="isVisible">
                <input type="hidden" name="Id" value="@item.Id" />
                <input type="hidden" name="visible" value="true" />
                <button type="submit" class="btn online p-1"><img style="width:25px;" src="~/img/invisible.png" /></button>
                <label>InVisible</label>
            </form>   
        }
        
        
        <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal" data-target="@("#EditAbout-"+item.Id)" data-url="@Url.Action($"Edit/{item.Id}")">
            <img src="~/img/edit.png">
        </button>
        @await Html.PartialAsync("_EditAboutPartialView",item)
        var size = string.Concat(item.TitleSize, "px");
        @*var videoWidth = string.Concat(item.VideoWidth, "px");
        var videoHeight = string.Concat(item.VideoHeight, "px");*@
        <p class="text-center" style="color:@item.TitleColor; font-size:@size; font-weight:bold; font-family:@item.FontFamily !important;">@item.Title</p>
        <div class="d-flex about">
                @if (item.Video == null && item.image == null)
                {
                    <div class="m-auto">
                        @Html.Raw(item.Content)
                    </div>
                }
                else if (item.Video == null)
                {
                <div class="about-item">
                    <img class="pr-4 abou-video" width="@item.VideoWidth" height="@item.VideoHeight" src="data:image/*;base64,@(Convert.ToBase64String(item.image))" />
                    </div>
                <div class="d-flex flex-column about-item">
                        @Html.Raw(item.Content)
                    </div>
                }
                else
                {
                <div class="about-item youtube-container">
                    <iframe class="pr-4 abou-video" width="@item.VideoWidth" height="@item.VideoHeight" src="@item.Video?rel=0&enablejsapi=1" title="YouTube video player" frameborder="0" controls="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="d-flex flex-column about-item">
                        @Html.Raw(item.Content)
                    </div>
                }
            
            
        </div>
    }
</div>
