@model SAcademy.ViewModel.ContactMailViewModel

@{
    Layout = "_LayoutDashboard";
}

<h1>Contact</h1>

<p>
    <a asp-action="Create">O</a>
</p>
<div class="w-75 m-auto p-2">
    @foreach (var item in Model.Contact)
    {
        if (item.Visible == true)
        {
            <form id="online" style="display:inline;" asp-action="isVisible">
                <input type="hidden" name="Id" value="@item.Id" />
                <input type="hidden" name="visible" value="false" />
                <button type="submit" class="btn online p-1"><img style="width:25px;" src="~/img/visible.png" /></button>
                <label>visible</label>
            </form>
        }
        else
        {
            <form id="online" style="display:inline;" asp-action="isVisible">
                <input type="hidden" name="Id" value="@item.Id" />
                <input type="hidden" name="visible" value="true" />
                <button type="submit" class="btn online p-1"><img style="width:25px;" src="~/img/invisible.png" /></button>
                <label>InVisible</label>
            </form>
        }
        <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal"
        data-target="@("#EditContact-"+item.Id)" data-url="@Url.Action($"Edit/{item.Id}")">
            <img src="~/img/edit.png">
        </button>
        @await Html.PartialAsync("_EditContactPartialView",item)

        var size = string.Concat(item.TitleSize, "vw");
        var mapwidth = string.Concat(item.MapWidth, "%");
        var mapHeight = string.Concat(item.MapHeight, "%");

        <p class="text-center" style="color:@item.TitleColor; font-size:@size; font-weight:bold; font-family:@item.FontFamily;">@item.Title</p>
        @Html.Raw(item.Content)<br /><br />
        <div class="d-flex flex-row justify-content-center contact">
            <div class="m-auto contact-item">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4 style="color:@item.LocalColor;">Localisation :</h4>
                        <p>@item.Localisation</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4 style="color:@item.EmailColor;">Email :</h4>
                        <p>@item.Email</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4 style="color:@item.CallColor;">Phone :</h4>
                        <p>@item.Call</p>
                    </div>
                    <iframe src="@item.Maps" width="@mapwidth" height="@mapHeight" style="border:0;" allowfullscreen=""
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="m-auto contact-item">
                <form action="" method="POST" class="">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Message</label>
                        <textarea class="form-control" name="message" rows="10" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="sent-message">Votre message a été envoyé. Merci!</div>
                    </div>
                    <div class="text-center"><button type="submit" class="btn text-light font-weight-bold"
                        style="border-radius:50px; background:@item.ButtonBgColor;">Envoyer</button></div>
                </form>
            </div>
        </div>
    }
</div>
<h1>Les Emails</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Message
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mail in Model.Email)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => mail.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => mail.Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => mail.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => mail.Message)
                    </td>
                    <td>
                        <form style="display:inline;" method="post" asp-controller="Contacts" asp-action="DeleteMail">
                            <input type="hidden" name="Id" value="@mail.Id" />
                            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
