@model SAcademy.Models.Formation

@{
    ViewData["Title"] = "Details";
    List<SelectListItem> status = new List<SelectListItem>()
    {
        new SelectListItem() { Text="Prospect", Value="Prospect"},
        new SelectListItem() { Text="Confirmé", Value="Confirmé"},
        new SelectListItem() { Text="Annulé", Value="Annulé"},
    };

    var Count = Model.Registration.Where(x => x.FormationId == Model.Id).Count();
    var ProspectCount = Model.Registration.Where(x => x.Statut == "Prospect").Count();
    var ConfirmeCount = Model.Registration.Where(x => x.Statut == "Confirmé").Count();
    var AnnuleCount = Model.Registration.Where(x => x.Statut == "Annulé").Count();

}
<style>
    .stsstyle{
        padding:3px;
        border-radius:5px;
        text-align:center;
    }
</style>

<div class="modal fade" id="DetailsFormation-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:1800px;">
        <div class="modal-content">
            <div class="d-flex justify-content-between p-3 border border-1">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <h5 class="text-primary">@Model.Title</h5> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <h5>@Model.Duration</h5> 
                    <h5>@Model.Mode.Name</h5>
                    <h5>@Model.Ville.Name</h5> 
                    <h5>@Model.Type.Name</h5>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <p>@Model.StartDay</p>
                        <p>@Model.EndDay</p>
                    </div>
                    <p>@Model.Description</p>
                    <div class="d-flex flex-column">
                        <p>@Model.StartTime</p>
                        <p>@Model.EndTime</p>
                    </div>
                </div>
                <hr />
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Presentation
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                @Html.Raw(Model.Presentation)
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Skills
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                @Html.Raw(Model.Skills)
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Certificate
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                @Html.Raw(Model.Certificate)
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="d-flex flex-row justify-content-around">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample">
                        Inscrits
                    </button>
                    @*<a class="btn btn-success" asp-controller="Formations" asp-action="ExcelInscrits">Export to Excel</a>*@
                    <p style="background:gray;" class="stsstyle font-weight-bold">Totale : @Count</p>
                    <p style="background:orange;" class="stsstyle">Prospect : @ProspectCount</p>
                    <p style="background:green;" class="stsstyle">Confirmé : @ConfirmeCount</p>
                    <p style="background:red;" class="stsstyle">Annulé : @AnnuleCount</p>
                    <form asp-controller="Formations" asp-action="ExcelInscrits">
                        <input type="hidden" name="Id" value="@Model.Id"/>
                        <button type="submit" class="btn btn-success">Export to Excel</button>
                    </form>
                </div>
                <div class="collapse pt-3" id="collapseExample">
                    <div class="card card-body">
                        <table class="table table-striped " id="myTable">
                            <thead>
                                <tr>
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Prenom
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Company Name
                                    </th>
                                    <th>
                                        Job Role
                                    </th>
                                    <th>
                                        Pays
                                    </th>
                                    <th>
                                        Ville
                                    </th>
                                    <th>
                                        Statut
                                    </th>
                                    <th>
                                        Commentaire
                                    </th>
                                    <th>
                                        action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Registration)
                                {
                                    <tr>
                                        <td>
                                            @item.Nom
                                        </td>
                                        <td>
                                            @item.Prenom
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.Phone
                                        </td>
                                        <td>
                                            @item.CompanyName
                                        </td>
                                        <td>
                                            @item.JobRole
                                        </td>
                                        <td>
                                            @item.Region
                                        </td>
                                        <td>
                                            @item.Ville
                                        </td>
                                        <td class="">
                                            @*@item.Statut*@
                                            @if (item.Statut == "Prospect")
                                            {
                                                <p style="background:orange;" class="stsstyle" >@item.Statut</p>
                                            }
                                            @if (item.Statut == "Confirmé")
                                            {
                                                <p style="background:green;" class="stsstyle" >@item.Statut</p>
                                            }
                                            @if (item.Statut == "Annulé")
                                            {
                                                <p style="background:red;" class="stsstyle" >@item.Statut</p>
                                            }
                                            <h6 class="m-2">Statut :</h6>
                                            <form style="display:inline;" class="m-2" asp-controller="Formations" asp-action="Statusregister">
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <select name="stu" asp-items="@status" class="form-control custom-select">
                                                    <option class="sts" value="@item.Statut">@item.Statut</option>
                                                </select>
                                                <button type="submit" class="btn btn-dark m-2">save</button>
                                            </form>
                                        </td>
                                        <td class="">
                                            @item.Comment
                                            <form class="d-flex flex-column" style="display:inline;" asp-controller="Formations" asp-action="Commentregister">
                                                <input type="hidden" name="Id" value="@item.Id" />
                                                <textarea type="text" name="cmnt" ></textarea>
                                                <button type="submit" class="btn btn-dark mt-1">save</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form asp-controller="Formations" asp-action="DeleteRegister">
                                                <input type="hidden" name="Id" asp-for="@item.Id" />
                                                <input type="submit" value="Delete" class="btn btn-danger m-2" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



