@model SAcademy.ViewModel.FVTMViewModel

@{
    Layout = "_LayoutDashboard";
}

<div class="d-flex justify-content-around">
    <h3 class="bold">Formation</h3>
    <a class="btn btn-secondary" asp-action="Index">Design</a>
</div>
<hr />
<div>
    <div class="d-flex justify-content-between pl-3 pr-3">
        <div class="w-25">
            <button type="button" class="btn btn-primary m-2" title="Ajouter" data-toggle="modal" data-target="#CreateVille">
                Ajouter Ville de formation
            </button>
            @await Html.PartialAsync("_CreateVillePartialView", new Ville())
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Ville
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ville in Model.Ville)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => ville.Name)
                            </td>
                            <td>
                                <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal" data-target="@("#EditVille-"+ville.Id)" data-url="@Url.Action($"Edit/{ville.Id}")">
                                    <img src="~/img/edit.png" >
                                </button>
                                @await Html.PartialAsync("_EditVillePartialView",ville)
            
                                <button type="button" class="border-0 bg-transparent" title="Suprimer Element" data-toggle="modal" data-target="@("#DeleteVille-"+ville.Id)" data-url="@Url.Action($"Delete/{ville .Id}")">
                                    <img src="~/img/delete.png">
                                </button>
                                @await Html.PartialAsync("_DeleteVillePartialView",ville)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="w-25">
            <button type="button" class="btn btn-primary m-2" title="Ajouter" data-toggle="modal" data-target="#CreateFType">
                Ajouter Type de formation
            </button>
            @await Html.PartialAsync("_CreateFTypePartialView", new FType())

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Type
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ftype in Model.FType)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => ftype.Name)
                            </td>
                            <td>
                                <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal" data-target="@("#EditFType-"+ftype.Id)" data-url="@Url.Action($"Edit/{ftype.Id}")">
                                    <img src="~/img/edit.png">
                                </button>
                                @await Html.PartialAsync("_EditFTypePartialView",ftype)

                                <button type="button" class="border-0 bg-transparent" title="Suprimer Element" data-toggle="modal" data-target="@("#DeleteFType-"+ftype.Id)" data-url="@Url.Action($"Delete/{ftype .Id}")">
                                    <img src="~/img/delete.png">
                                </button>
                                @await Html.PartialAsync("_DeleteFTypePartialView",ftype)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="w-25">
            <button type="button" class="btn btn-primary m-2" title="Ajouter" data-toggle="modal" data-target="#CreateMode">
                Ajouter Mode de formation
            </button>
            @await Html.PartialAsync("_CreateModePartialView", new Mode())

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Mode
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mode in Model.Mode)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => mode.Name)
                            </td>
                            <td>
                                <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal" data-target="@("#EditMode-"+mode.Id)" data-url="@Url.Action($"Edit/{mode.Id}")">
                                    <img src="~/img/edit.png">
                                </button>
                                @await Html.PartialAsync("_EditModePartialView",mode)

                                <button type="button" class="border-0 bg-transparent" title="Suprimer Element" data-toggle="modal" data-target="@("#DeleteMode-"+mode.Id)" data-url="@Url.Action($"Delete/{mode .Id}")">
                                    <img src="~/img/delete.png">
                                </button>
                                @await Html.PartialAsync("_DeleteModePartialView",mode)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="pl-3 pr-3">
        <button type="button" class="btn btn-primary m-2" title="Ajouter" data-toggle="modal" data-target="#CreateFormation">
            Ajouter formation
        </button>
        @await Html.PartialAsync("_CreateFormationPartialView", new Formation())

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Duration
                    </th>
                    <th>
                        StartDay
                    </th>
                    <th>
                        EndDay
                    </th>
                    <th>
                        StartTime
                    </th>
                    <th>
                        EndTime
                    </th>
                    <th>
                        Mode
                    </th>
                    <th>
                        Ville
                    </th>
                    <th>
                        Type
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var formation in Model.Formation)
                {
                    <tr>
                        <td>
                            <h5 class="text-primary">@formation.Title</h5>
                        </td>
                        <td>
                            <p class="descFormation">@Html.DisplayFor(modelItem => formation.Description)</p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => formation.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => formation.StartDay)
                        </td>
                        <td> 
                            @Html.DisplayFor(modelItem => formation.EndDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => formation.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => formation.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => formation.Mode.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => formation.Ville.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => formation.Type.Name)
                        </td>
                        <td class="d-flex">
                            <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal" data-target="@("#EditFormation-"+formation.Id)" data-url="@Url.Action($"Edit/{formation.Id}")">
                                <img src="~/img/edit.png">
                            </button>
                            @await Html.PartialAsync("_EditFormationPartialView",formation)

                            <button type="button" class="border-0 bg-transparent" title="Suprimer" data-toggle="modal" data-target="@("#DeleteFormation-"+formation.Id)" data-url="@Url.Action($"Delete/{formation .Id}")">
                                <img src="~/img/delete.png">
                            </button>
                            @await Html.PartialAsync("_DeleteFormationPartialView",formation)

                            <button type="button" class="border-0 bg-transparent" title="Details and registrants" data-toggle="modal" data-target="@("#DetailsFormation-"+formation.Id)" data-url="@Url.Action($"Details/{formation .Id}")">
                                <img src="~/img/info.png">
                            </button>
                            @await Html.PartialAsync("_DetailsFormationPartialView",formation)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>