@model List<SAcademy.Models.Thematic>


@{
    Layout = "_LayoutDashboard";
}

<div class="d-flex justify-content-around">
    <a class="btn btn-primary" asp-action="FormationPanel">Gestion de Formations</a>
    <a class="btn btn-info" asp-action="ThematicDetail">Thematiques</a>
    <a class="btn btn-secondary" asp-action="Index">Design page</a>
</div>
<hr />
<div class="w-50 m-auto">
    <button type="button" class="btn text-light m-2" title="Ajouter" data-toggle="modal" data-target="#CreateThematic" style="background:#ce0033;">
        Ajouter Thematic de formation
    </button>
    @await Html.PartialAsync("_CreateThematicPartialView", new Thematic())

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Theme
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var theme in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => theme.Title)
                    </td>
                    <td>
                        <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal" data-target="@("#EditThematic-" + theme.Id)" data-url="@Url.Action($"Edit/{theme.Id}")">
                            <img src="~/img/edit.png">
                        </button>
                        @await Html.PartialAsync("_EditThematicPartialView",theme)

                        <button type="button" class="border-0 bg-transparent" title="Suprimer Element" data-toggle="modal" data-target="@("#DeleteThematic-" + theme.Id)" data-url="@Url.Action($"Delete/{theme.Id}")">
                            <img src="~/img/delete.png">
                        </button>
                        @await Html.PartialAsync("_DeleteThematicPartialView",theme)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
