@model SAcademy.Models.InscriptionPage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InscriptionPage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentBgColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentBgColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentTwo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
