@model IEnumerable<SAcademy.Models.InscriptionPage>

@{
    Layout = "_LayoutDashboard";
}

<h1>Inscription Page</h1>

<p>
    <a asp-action="Create">O</a>
</p>
@foreach (var item in Model)
{
    if (item.Visible == true)
    {
        <form id="online" style="display:inline;" asp-action="isVisible">
            <input type="hidden" name="Id" value="@item.Id" />
            <input type="hidden" name="visible" value="false" />
            <button type="submit" class="btn online p-1"><img style="width:25px;" src="~/img/visible.png" /></button>
            <label>visible</label>
        </form>
    }
    else
    {
        <form id="online" style="display:inline;" asp-action="isVisible">
            <input type="hidden" name="Id" value="@item.Id" />
            <input type="hidden" name="visible" value="true" />
            <button type="submit" class="btn online p-1"><img style="width:25px;" src="~/img/invisible.png" /></button>
            <label>InVisible</label>
        </form>
    }
    <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal" data-target="@("#EditInscriptionPage-"+item.Id)" data-url="@Url.Action($"Edit/{item.Id}")">
        <img src="~/img/edit.png">
    </button>
    @await Html.PartialAsync("_EditInscriptionPagePartialView",item)

    var size = string.Concat(item.ContentHeight, "px");

    <div>
        <div style="background:@item.ContentBgColor; height:@size;">
            @Html.Raw(item.ContentOne)
        </div>
        <div>
            @Html.Raw(item.ContentTwo)
        </div>
    </div>
}
