@model List<SAcademy.Models.About>

<div class="p-3" id="apropos">


@foreach (var item in Model)
{
        if(item.Visible == true)
        {
            var size = string.Concat(item.TitleSize, "vw");
            <p class="text-center p-3 about-title" style="color:@item.TitleColor; font-size:@size; font-weight:bold; font-family:@item.FontFamily;">@item.Title</p>
            <div class="d-flex aboutSplit">
                @if (item.Video == null && item.image == null)
                {
                    <div class="m-auto about-content" data-aos="fade-up">
                        @Html.Raw(item.Content)
                    </div>
                }
                else if (item.Video == null)
                {
                    <div data-aos="fade-up-right">
                        <img class="pr-4 aboutImg" width="@item.VideoWidth" height="@item.VideoHeight" src="data:image/*;base64,@(Convert.ToBase64String(item.image))" />
                    </div>
                    <div class="d-flex flex-column about-content" data-aos="fade-up-left">
                        @Html.Raw(item.Content)
                    </div>
                }
                else
                {
                    <div data-aos="fade-right"
                        data-aos-offset="300"
                        data-aos-easing="ease-in-sine">
                        <iframe class="pr-4 aboutvideo" width="@item.VideoWidth" height="@item.VideoHeight" src="@item.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="d-flex flex-column about-content" data-aos="fade-up-left">
                        @Html.Raw(item.Content)
                    </div>
                }


            </div>
        }
       
}
</div>