@model SAcademy.Models.Thematic

@{
    ViewData["Title"] = "Details";
}
<style>
    .navtheme {
        width: 90%;
    }

    .allerA {
        font-size: 1.5em;
        font-weight: bold;
        color: black;
    }

    .navThemeitem {
        font-size: 2em;
        font-weight: bold;
        color: black !important;
        text-decoration: none !important;
    }

    article {
        padding: 1.5em 2em 4em 2em;
        margin: 1em;
    }

    .bar {
        width: 30px;
        height: 5px;
        background: #ce0033;
        margin-right: .5em;
    }

    .btnSession {
        background: #ce0033;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        margin: 1em 0 1em 0;
    }

    .pls {
        font-weight: bold;
        font-size: 2em;
    }

    .faqs-item {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 0;
        display: block;
    }

    .faqs-title {
        color:black;
        display: flex;
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none !important;
        padding: 20px;
        width: 100%;
        outline: none;
        transition: 0.4s;
    }

    .faqs-title:hover {
        color: black;
    }

        .faqs-title:after {
            content: '\002B';
            font-weight: bold;
            float: right;
            margin-left: auto;
            font-size: 35px;
            line-height: 1;
            padding-left: 20px;
        }

    .active:after {
        content: "\2212";
    }

    .faqs-content {
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .faqs-content-inside {
        padding: 20px;
    }
</style>
<div class="yeld mb-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent pl-5">
            <li class="breadcrumb-item text-center pl-2"><a href="/"><img class="w-75" src="~/img/home.png"></a></li>
            <li class="breadcrumb-item active" style="font-size:20px;" aria-current="page">Détails</li>
        </ol>
    </nav>
    <div class="m-auto" style="width:70%;">
        <h2 class="pt-4 pb-2" style="color:#ce0033; font-weight:bold; margin-left:0.5em;">@Model.Title</h2>
        <article class="border border-1">
            <p class="allerA">Aller à</p>
            <div class="d-flex justify-content-between navtheme">
                <div class="d-flex align-items-center ">
                    <span class="bar"></span>
                    <a class="navThemeitem" href="#">Présentation</a>
                </div>
                <div class="d-flex align-items-center ">
                    <span class="bar"></span>
                    <a class="navThemeitem" href="#">Compétences</a>
                </div>
                <div class="d-flex align-items-center ">
                    <span class="bar"></span>
                    <a class="navThemeitem" href="#">Prérequis</a>
                </div>
            </div>
            <a href="/formations" class="float-right btn btn-danger btnSession">Les Sessions Ouvertes</a>
        </article>

        
        <div class="faqs-grid">

            <div class="faqs-item ">

                <a class="faqs-title d-flex align-items-center " href="#custom">
                    <img style="width:60px;" src="~/img/presentation.svg" />
                    Presentation
                </a>


                <div class="faqs-content">
                    <div class="faqs-content-inside">

                        <p>
                            @Html.Raw(Model.Presentation)
                        </p>

                    </div>
                </div>
            </div>

            <div class="faqs-item ">

                <a class="faqs-title d-flex align-items-center" href="#custom">
                    <img style="width:65px;" src="~/img/iconForm1.png" />
                    Compétences visées
                </a>


                <div class="faqs-content">
                    <div class="faqs-content-inside">

                        <p>@Html.Raw(Model.Competences)</p>
                    </div>
                </div>
            </div>

            <div class="faqs-item ">

                <a class="faqs-title d-flex align-items-center" href="#custom">
                    <img style="width:65px;" src="~/img/iconForm8.png" />
                    Programme
                </a>


                <div class="faqs-content">
                    <div class="faqs-content-inside">
                        <p>@Html.Raw(Model.Programme)</p>
                    </div>
                </div>
            </div>

            <div class="faqs-item ">

                <a class="faqs-title d-flex align-items-center" href="#custom">
                    <img style="width:65px;" src="~/img/iconForm7.png" />
                    Prérequis
                </a>


                <div class="faqs-content">
                    <div class="faqs-content-inside">
                        <p>@Html.Raw(Model.Prerequis)</p>
                    </div>
                </div>
            </div>
            <a href="/formations" class="btn btn-danger btnSession ml-5">Les Sessions Ouvertes</a>
            <div class="faqs-item ">

                <a class="faqs-title d-flex align-items-center" href="#custom">
                    <img style="width:65px;" src="~/img/iconForm2.png" />
                    Modalités
                </a>


                <div class="faqs-content">
                    <div class="faqs-content-inside">
                        <p>@Html.Raw(Model.Price)</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>







<script>
    var acc = document.getElementsByClassName('faqs-title');
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener('click', function () {
            this.classList.toggle('active');
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + 'px';
            }
        });
    }
</script>