@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutIdentity";
}

<style>
    .inputLog{
        border-radius:40px;
    }
</style>

    <section class="w-50 pt-5 p-5 m-auto position-relative d-flex flex-column" style="">
            <form id="account" method="post" class="">
                <h3 style="font-size:22px;">Authentification.</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control inputLog" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control inputLog" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-danger mt-3 inputLog">Log in</button>
                </div>
                <div>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a><br />
                     <a href="/">Home</a>
                </div>
            </form>
                <hr />

        <div class="">
            <h3 style="font-size:22px;">Utiliser un autre service pour se connecter</h3>
            <hr class="w-100" />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                <button type="submit" class="btn btn-light btn-block inputLog" name="provider" value="@provider.Name" title="Connectez-vous avec @provider.DisplayName account">
                                        @{
                                            string imageSrc = string.Empty;
                                            if (provider.DisplayName == "Google")
                                                imageSrc = "https://gfx4arab.com/wp-content/uploads/2020/06/google-icon.svg";
                                            else if (provider.DisplayName == "Facebook")
                                                imageSrc = "https://cdn.freebiesupply.com/logos/large/2x/facebook-3-logo-png-transparent.png";
                                        }
                                        <img src="@imageSrc" alt="@provider.DisplayName" style="height: 20px;" />
                                        Connectez-vous avec @provider.DisplayName
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
            </div>
        </section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
