@model SAcademy.Models.Formation

@*@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager*@

@{
    ViewData["Title"] = "Inscription";
    //string email = null;
    //if (SignInManager.IsSignedIn(User))
    //{
    //    User user = await UserManager.FindByEmailAsync(User.Identity.Name);
    //    if (user != null)
    //    {
    //        email = user.Email;
    //    }


    //}

}
<div class="yeld">
    @await Component.InvokeAsync("InscriptionPage")
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item text-center"><a href="/"><img class="w-75" src="~/img/home.png"></a></li>
            <li class="breadcrumb-item" style="font-size:20px; color:#ce0033; cursor:pointer;" onclick="window.history.go(-2); return false;">Détails</li>
            <li class="breadcrumb-item" style="font-size:20px;"><a style="color:#ce0033 !important; text-decoration:none !important;"
                    href="/formations">Nos Formation</a></li>
            <li class="breadcrumb-item active" style="font-size:20px;" aria-current="page">Inscription</li>
        </ol>
    </nav>

    <div class="d-flex gap-5 justify-content-between inscriptionPage">
        <div class="w-50 p-5 inscriptionPage-content">
            <hr />
            <h4 class="font-weight-bold">@Model.Title</h4>
            <p>Description : @Model.Description</p>
            <p>Durée de la formation : @Model.Duration</p>
            <p>La date de la formation : Du @Html.DisplayFor(modelItem => Model.StartDay) Au : @Html.DisplayFor(modelItem => Model.EndDay)</p>
            <p>Horaire de la formation : @Html.DisplayFor(modelItem => Model.StartTime) => @Html.DisplayFor(modelItem => Model.EndTime)</p>
            <p>Mode de la formation : @Model.Mode.Name</p>
            @if (Model.Mode.Name != "Distanciel")
            {
                <p>Ville de la formation : @Model.Ville.Name</p>
            }
            <p>Type de la formation : @Model.Type.Name</p>
            <p>Prix de la formation : @Model.Price</p>
            <h4 class="font-weight-bold">Presentation</h4>
            <p>@Html.Raw(Model.Presentation)</p>
            <h4 class="font-weight-bold">Compétences</h4>
            <p>@Html.Raw(Model.Skills)</p>
            <h4 class="font-weight-bold">Certification</h4>
            <p>@Html.Raw(Model.Certificate)</p>
        </div>


        <div class="w-50 d-flex justify-content-center align-items-center inscriptionPage-form mb-3">
            <form class="w-75" method="post" id="FormInscrits" name="google-sheet" asp-action="Register">
                <h5 class="text-danger p-2">@TempData["userEmail"]</h5> 
                <h5 class="text-danger p-2">@TempData["userExiste"]</h5>
                <div class="form-group">
                    <input type="hidden" name="FormationId" class="form-control" id="exampleInputPassword1"
                        value="@Model.Id" placeholder="Nom">
                </div>
                <div class="form-group">
                    <input type="hidden" name="FormationName" class="form-control"
                           value="@Model.Title" placeholder="FormationName">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control dt" name="Email" placeholder="Email" id="sourceInput" onchange="copyValue()" required />
                </div>
                <div class="form-group">
                    @*<label>Email address</label>*@
                    <input type="hidden" readonly class="form-control" name="emailUser" id="destinationInput" required />
                </div>
                <div class="form-group">
                    <label>Nom<span class="text-danger p-1" style="font-size:22px;">*</span></label>
                    <input type="text" name="Nom" class="form-control vl" placeholder="Nom" maxlength="15" min="4" required />
                </div>
                <div class="form-group">
                    <label>Prenom<span class="text-danger p-1" style="font-size:22px;">*</span></label>
                    <input type="text" class="form-control vl" name="Prenom" placeholder="Prenom" maxlength="10" required />
                </div>
                <div class="form-group">
                    <label>Ville<span class="text-danger p-1" style="font-size:22px;">*</span></label>
                    <input type="text" class="form-control vl" name="Ville" placeholder="Ville" required maxlength="15" />
                </div>
                <div class="form-group">
                    <label>Pays<span class="text-danger p-1" style="font-size:22px;">*</span></label>
                    @* <input type="text" class="form-control vl" name="Region" placeholder="Pays" maxlength="15" required /> *@
                    <select name="Region" id="address-country" class="form-control vl" required></select>
                </div>
                <div class="form-group d-flex flex-column">
                    <label>téléphone<span class="text-danger p-1" style="font-size:22px;">*</span></label>
                    <input class="form-control vl ph" type="tel" id="Phone" name="Phone" placeholder="e.g. +212 702 123 4567" value="+212" onkeypress="return isNumber(event)" maxlength="14"  />
                    @*<input type="text" name="Phone" class="form-control vl" id="PhoneVal" maxlength="10" placeholder="téléphone" required
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />*@
                </div>
                <div class="form-group">
                    <label>Poste occupé</label>
                    <input type="text" class="form-control vl" name="JobRole" placeholder="Poste occupé" maxlength="50" />
                </div>
                <div class="form-group">
                    <label>Nom de l'entreprise</label>
                    <input type="text" class="form-control vl" name="CompanyName" placeholder="Nom de l'entreprise" maxlength="50" />
                </div>
                @* <div class="form-group">
                    <input type="hidden" class="form-control" name="FormationTitle" value="@Model.Title">
                    </div>
                    <div class="form-group">
                    <input type="hidden" class="form-control" name="FormationMode" value="@Model.Mode">
                    </div>*@
                @*<div class="form-group">
                    <input type="hidden" class="form-control" name="FormationVille" value="@Model.Ville.Name">
                    </div>*@
                @*<div class="form-group">
                    <input type="hidden" class="form-control" name="FormationDateStart" value="@Model.StartDay">
                    </div>*@
                <button id="inscrits" class="btn inscription w-100">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>

    function copyValue() {
        var sourceInput = document.getElementById("sourceInput");
        var destinationInput = document.getElementById("destinationInput");
        destinationInput.value = sourceInput.value;
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }


    $(function () {
        $("#inscrits").on('click',function(e){
            e.preventDefault();
            var user = $('input[name="Prenom"]').val();
            @* var phone = $('#Phone').val();
            var phoneVal = $('#PhoneVal').val(); *@

                if ($('.dt').val().length === 0 || $('.vl').val().length === 0 || $('.ph').val().length < 10) {
                alert('Remplissez les champs');
            }else{

                swal('Bonjour ' + user, 'Merci pour votre inscription à la formation : @TempData["title"], Veuillez vérifier votre boîte mail pour confirmer votre inscription. ', "success")
            .then((confirm) => {
                @* phoneVal == phone: *@
                $("#FormInscrits").submit();
            })
            }
        });

    });

</script>