@model Header


@{
    Layout = "_LayoutDashboard";
}

<div class="">
    <div class="w-50 m-auto">
        <form asp-action="CustomHeader" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Background" class="control-label"></label>
                <input type="file" asp-for="Background" class="form-control" required />
                <span asp-validation-for="Background" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea type="text" asp-for="Content" id="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopSize" class="control-label"></label>
                <input type="number" asp-for="TopSize" id="Content" class="form-control" />
                <span asp-validation-for="TopSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeftSize" class="control-label"></label>
                <input type="number" asp-for="LeftSize" id="Content" class="form-control" />
                <span asp-validation-for="LeftSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Button" class="control-label"></label>
                <input asp-for="Button" class="form-control" required />
                <span asp-validation-for="Button" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="Video" class="form-control" required />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if(Model != null)
{
    <div class="ok" style="background-image:url(data:image/*;base64,@Convert.ToBase64String(Model.Background));">
        <div>
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <div style="top:@Model.TopSize+em; left:@Model.LeftSize+em;">@Html.Raw(@Model.Content)</div>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a asp-controller="Formations" asp-action="Index" class="btn-get-started scrollto">@Model.Button</a>
                    <a href="@Model.Video" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
                 <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal" data-target="@("#EditHeader-"+Model.Id)" data-url="@Url.Action($"EditHeader/{Model.Id}")">
                    <img src="~/img/edit.png">
                </button>
                @await Html.PartialAsync("_EditHeaderPartialView",Model)
            </div>
        </div>
    </div>
}
dzjdnzudhuzdhzj<br /><br />
/////////:
////////


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $("#Content").summernote({
        placeholder: "Content ",
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ],
    });
</script>