@model List<SAcademy.Models.Thematic>

<style>
    .cardthem {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /*width: 100%;*/
        border-radius: 5px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    img {
        border-radius: 5px 5px 0 0;
    }

    .containercard {
        margin-top: 1em;
        padding: .4em 1em;
        text-align: justify;
    }
</style>

@foreach (var item in Model)
{

    var size = string.Concat(item.Title, "vw");
    @* <div>
        <div class="p-3 d-flex flex-column justify-content-center" style="background:@item.Background; height:50%;">
        <h5 style="color:@item.ColorTitle;">@item.Title</h5>
        <p>@item.Formations.Count()</p>
        @if (@item.Formations.Count() == 0)
        {
        <a href="#" class="" data-toggle="modal" data-target="#exampleModal">
        details
        </a>
        }
        else
        {
        <a href="thematics/details/@item.Id">details</a>
        }
        </div>
        <div class="mt-1 text-left p-1 pl-1" style="border:1px dotted black !important; height:50%;">
        <div class="">
        @Html.Raw(item.Description)
        </div>
        </div>
        </div> *@
    <div class="cardthem">
        <div class="d-flex flex-column justify-content-around p-2" style="background:@item.Background; height:22vh;">
            <h5 style="color:@item.ColorTitle;">@item.Title</h5>
            <div>
                @if (@item.Formations.Count() == 0)
                {
                    <a href="#" class="btn btnThem w-50 m-auto" data-toggle="modal" data-target="#exampleModal">
                        Découvrir
                    </a>
                }
                else
                {
                    <a class="btn w-50 m-auto btnThem" href="thematics/details/@item.Id">Découvrir</a>
                }
            </div>
        </div>
        <div class="containercard">
            @Html.Raw(item.Description)
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align:justify !important;">
                <div class="modal-header">
                    <p class="modal-title" style="text-align:justify !important;" id="exampleModalLabel">Nous n'avons pas de formation programmée<br>
                        renseignez le formulaire pour vous tenir au courant
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="Register" asp-controller="Thematics">
                        <div class="form-group">
                            <label class="control-label">Nom et Prénom</label>
                            <input name="FullName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" name="Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone</label>
                            <input type="number" name="Phone" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thematique</label>
                            <select name="ThematicName" class="form-control">
                                @foreach (var s in Model)
                                {
                                    <option value="@s.Title">@s.Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enregistrer" class="btn" style="background:#ce0033; color:white;" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}