@model List<SAcademy.Models.Thematic>

@*<style>
    .cardthem {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /*width: 100%;*/
        border-radius: 5px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    img {
        border-radius: 5px 5px 0 0;
    }

    .containercard {
        margin-top: 1em;
        padding: .4em 1em;
        text-align: justify;
    }

    .p1 {
        display: block;
    }

    .More{
        all:unset;
        color: #ce0033;
    }
</style>*@

@foreach (var item in Model)
{

    var size = string.Concat(item.Title, "vw");

    <div class="cardthem" id="">
        <div class="d-flex flex-column justify-content-between p-2" style="background:@item.Background;height:100%;">
            <h5 style="color:@item.ColorTitle; margin-top:2em;">@item.Title</h5>
            <div>
                <a class="btn btn-outline-secondary m-auto btnThem" href="thematics/details/@item.Id" style="margin-bottom:2em !important;">Découvrir</a>
                @*@if (@item.Formations.Count() == 0)
                {
                    <a href="#" class="btn btnThem w-50 m-auto" data-toggle="modal" data-target="#exampleModal">
                        Découvrir
                    </a>
                }
                else
                {
                    <a class="btn w-50 m-auto btnThem" href="thematics/details/@item.Id">Découvrir</a>
                }*@
            </div>
        </div>
       @* <div class="containercard">
            <span class="p1">@Html.Raw(item.Description)</span>
            <button class="More">Show More</button>
        </div>*@
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align:justify !important;">
                <div class="modal-header">
                    <p class="modal-title" style="text-align:justify !important;" id="exampleModalLabel">Nous n'avons pas de formation programmée<br>
                        renseignez le formulaire pour vous tenir au courant
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="Register" asp-controller="Thematics">
                        <div class="form-group">
                            <label class="control-label">Nom et Prénom</label>
                            <input name="FullName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" name="Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone</label>
                            <input type="number" name="Phone" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thematique</label>
                            <select name="ThematicName" class="form-control">
                                @foreach (var s in Model)
                                {
                                    <option value="@s.Title">@s.Title</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enregistrer" class="btn" style="background:#ce0033; color:white;" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@*<script>
    document.querySelectorAll('.More').forEach(bttn => {
        bttn.dataset.state = 0;
        bttn.addEventListener('click', function (e) {
            let span = this.previousElementSibling;
            span.dataset.tmp = span.innerHTML;
            span.innerHTML = span.dataset.content;
            span.dataset.content = span.dataset.tmp;

            this.innerHTML = this.dataset.state == 1 ? 'Show More' : 'Show Less';
            this.dataset.state = 1 - this.dataset.state;
        })
    });

    document.querySelectorAll('.p1').forEach(span => {
        span.dataset.content = span.innerHTML;
        span.innerHTML = span.innerHTML.substr(0, 100) + '...';
    })
</script>*@