@model List<SAcademy.Models.Header>


@foreach (var header in Model)
{
    var height = string.Concat(header.HeightSection, "vh");
    var Top = string.Concat(header.BVTopSize, "%");
    var left = string.Concat(header.BVLeftSize, "%");
    var size = string.Concat(header.BVSize, "vw");
    if (header.Background != null)
    {
        <div style="background: url(data:image/*;base64,@Convert.ToBase64String(header.Background)); height:@height;"
    class="bg-cover" id="">
            <div class=" py-5 content" data-aos="fade-down-right">
                <p class="" id="">@Html.Raw(header.Content)</p>
                <div class="buttonHeader" style="top:@Top; left:@left; width:90%; " data-aos="fade-right">
                    @if (header.Button != null)
                    {

                        <button class="btn font-weight-bold" id="downClick" 
                style="color:@header.BVColor; font-size:@size; background:@header.ButtonBgColor; border-radius:40px;">@header.Button</button>
                    }
                    @if (header.Video != null)
                    {
                        <a class="" href="@header.Video">
                            <img src="~/img/play.png">
                        </a>
                    }
                </div>
        <div id="apropos"></div>
            </div>
        </div>
    }
    else
    {
        <div class="jumbotron bg-cover" style="background: url('img/hero1.jpg'); height:@height;">
            <div class=" py-5 content">
                <p class=""   data-aos="fade-down-right">@Html.Raw(header.Content)</p>
                <div class="buttonHeader" style="top:@Top; left:@left; width:90%;" data-aos="fade-right">
                    @if (header.Button != null)
                    {
                        <button class="btn font-weight-bold" id="downClick" 
                style="color:@header.BVColor; font-size:@size; background:@header.ButtonBgColor; border-radius:40px;">@header.Button</button>
                    }
                    @if (header.Video != null)
                    {
                        <a class="" href="@header.Video">
                            <img src="~/img/play.png">
                        </a>
                    }
                </div>
                <div id="apropos"></div>
            </div>
        </div>

    }
}

<script>

    $(document).ready(function () {
        $("#downClick").click(function () {
            var x = $(window).scrollTop();
            $('html, body').animate({ scrollTop: x + 2829.600341796875 })
        });
    });
</script>